.container-blog{
    border:  1px solid rgb(149, 9, 161);
    border-radius: 8px;
    background-color:  rgb(245, 243, 243);
    margin-top: 30px;
    width: 988px;
    margin-left: 185px;
    margin-bottom: 50px;
}

.card-container {
    display: flex;
    gap: 20px;
    max-width: 1000px;
    flex-wrap: wrap;
    padding: 20px;
}

.row {
    margin-top: 40px;
    margin-bottom: 20px;
}

h1 {
    color: #5c1b56;
    font-size: 45px;
    margin-bottom: 10px;
    text-align: center;

}

.line {
    height: 2px;
    width: 250px;
    background: rgb(149, 9, 161);
    display: block;
    margin: 0 auto;
    padding: 0;
}

/* Kart Dizaynı */
.card {
    background-color: rgb(245, 243, 243);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s;
    border: 1px solid rgb(149, 9, 161);
}


/* Hover Effektləri */
.card:hover {
    transform: translateY(-5px);
}

/* Kartın içindəki şəkil */
.card img {
    border-bottom: 1px solid rgb(149, 9, 161);
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Kartın içindəki məzmun */
.card-content {
    padding: 15px;
    text-align: center;
}

/* Başlıq Dizaynı */
.card-content h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

/* Qısa təsvir */
.card-content p {
    color: #555;
    font-size: 0.95em;
    line-height: 1.5;
    max-height: 3em;
    /* İki sətir üçün hündürlük */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* "Daha çox oxu" düyməsi */
.read-more {
    border: 1px solid rgb(149, 9, 161);
    background-color: #5c1b56;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.read-more:hover {
    background-color: rgb(245, 243, 243);
    color: rgb(149, 9, 161);
}