.container-blog {
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin-left: 90px;
}

.row1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    color: #5c1b56;
    font-size: 45px;
    margin-bottom: 10px;
    text-align: center;
}

.line {
    height: 2px;
    width: 250px;
    background: rgb(149, 9, 161);
    display: block;
    margin: 0 auto;
    padding: 0;
}

.blog-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    padding: 15px;
    gap: 30px;
    margin-bottom: 50px;

}

.blog {
    background-color: rgb(245, 243, 243);
    border: 1px solid rgb(149, 9, 161);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    overflow: hidden;
    width: 350px;
}

.blog:hover {
    transform: translateY(-5px);
}

.blog img {
    width: 100%;
    height: 300px;
    border-bottom: 1px solid rgb(149, 9, 161);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.descriptions {
    padding: 15px;
    text-align: center;
}

.descriptions h2 {
    font-size: 40px;
    color: #5c1b56;
    margin-bottom: 10px;
}

.descriptions p {
    margin-top: 15px;
    font-size: 20px;
    line-height: 1.8;
    color: #a32d97;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    max-height: 5em;
    /* İki sətir üçün hündürlük */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.Btn{
    background-color: #5c1b56;
    border: 1px solid rgb(149, 9, 161);
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    padding: 6px;
    margin-top: 10px;
    transition: background-color 0.5s ease;

}
.Btn:hover {
    background-color: #fff;
    color: rgb(149, 9, 161);

}