.index-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    background-color: #5c1b56;
}

.page-about {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInLeft 1s ease forwards 0.5s; /* 0.5 saniyə gecikmə ilə sola sürüşmə animasiyası */
}

.page-image {
    width: 70%;
    height: 400px;
    opacity: 0;
    transform: translateX(100%);
    animation: slideInRight 1s ease forwards 1s; /* 1 saniyə gecikmə ilə sağa sürüşmə animasiyası */
}

.page-about h1 {
    color: rgb(228, 92, 216);
    margin-bottom: 50px;
    font-size: 60px;
}

.page-about p {
    margin-left: 100px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}

.page-image img {
    margin-left: 100px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: biani 4.5s linear infinite alternate;
    box-shadow: 0 0px 20px rgba(36, 39, 37, 0.3);
}

#btn-btn {
    margin-top: 25px;
    margin-left: 100px;
    border: 1px solid #fff;
}

button {
    background: linear-gradient(to right, #3B1438, rgb(149, 9, 161));
    border: 1px solid rgb(149, 9, 161);
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
    transition: background-color 0.5s ease;
}

button:hover {
    background: linear-gradient(to right, rgb(149, 9, 161), #3B1438);
}

/* Animasiya təsvirləri */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes biani{
    0% {
        border-radius: 48% 52% 57% 43% / 34% 44% 56% 66%;
    }

    25% {
        border-radius: 62% 38% 64% 36% / 34% 55% 45% 66%;
    }

    50% {
        border-radius: 43% 57% 51% 49% / 33% 42% 58% 67%;
    }

    100% {
        border-radius: 40% 60% 43% 57% / 52% 32% 68% 48%;
    }
}
