* {
    margin: 0;
    padding: 0;
}

body {
background-color: #d8d7d7;
}

.navbar {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid rgb(149, 9, 161);
    background-color: #ffffff;
}

.logo {
    margin-left: 10px;
    color: rgb(149, 9, 161);
}

.logo a {
    text-decoration: none;
}

.logo a img {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo a:hover {
    color: rgb(149, 9, 161);
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    list-style: none;

}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: serif;

}

.navbar ul li a:hover {
    color: rgb(149, 9, 161);
    filter: brightness(1.5);
}

.center {
    position: relative;
    display: inline-block;
}

.center input[type='text1'] {
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 7px 10px;
    width: 300px;
    outline: none;
    color: #222;
}

.center i {
    position: absolute;
    top: 47%;
    left: 91%;
    color: rgb(163, 162, 162);
    transform: translateY(-50%);
}

.center i:hover {
    color: rgb(129, 126, 126);
    cursor: pointer;
}



/*--------------------------- END NAVBAR ----------------------------*/


/*?--------------------------- START FOOTER ----------------------------*/
.footer {
    height: 230px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: rgb(72, 2, 78);
    color: #fff;
}

.footer_down {
    background-color: rgb(72, 2, 78);
    color: #fff;
    text-align: center;
    font-size: 20px;
    border-top: 1px dashed #fff;
    padding: 10px;
}
.footer-about{
    margin-left: 100px;
}
.footer-about p {
    width: 90%;
    line-height: 1.5;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.footer-about p:hover{
    transition: transform 0.3 s ease;
    color: #6995f3;

}

.sosial-footer i {
    border-radius: 8px;
    background-color: #fff;
    color: #222;
    padding: 5px;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.sosial-footer .fa-instagram:hover{
    color: #e73bae;
}
.sosial-footer .fa-facebook:hover{
    color: #3b5998;
}
.sosial-footer .fa-linkedin:hover{
    color: #022164;
}

.footer-center{
    margin-left: 50px;
}

.footer-center li{
    width: 80%;
    list-style: none;
    font-size: 20px;
    margin-top: 20px;
}
.footer-center li:hover{
    transform: translateX(10px);
    transition: transform 0.3s ease;
}
.footer-center a{
    width: 50%;
    text-decoration: none;
    color: #fff;
}
.footer-center a:hover{
    color: #6995f3;
}
.footer-center p:hover{
    color: #6995f3;
}

.footer-right{
    margin-left: 50px;
}

.footer-right a{
    width: 50%;
    text-decoration: none;
    color: #fff;  
}
.footer-right a:hover{
    color: #6995f3;
}
.footer-right li{
    width: 80%;
    list-style: none;
    font-size: 20px;
    margin-top: 20px;
}
.footer-right li:hover{
    transform: translateX(10px);
    transition: transform 0.3s ease;
}




/*?--------------------------- END FOOTER ----------------------------*/



/*!--------------------------- Scrollbar ----------------------------*/
/* Scrollbar genişliyini təyin edir */
::-webkit-scrollbar {
    width: 12px;
}

/* Scrollbar arxa fonu */
::-webkit-scrollbar-track {
    width: 14px;
    background-color: #ececec;
    /* Açıq rəngli fon */
    border-radius: 10px;
    /* Yumru künclər */
}

/* Scrollbarın sürüşmə hissəsi */
::-webkit-scrollbar-thumb {
    background-color: rgb(150, 23, 161);
    /* Scroll barın rəngi */
    border-radius: 10px;
    /* Yumru künclər */
    border: 2px solid #fffcfc;
    /* Arxa fonla uyğun sərhəd */
}

/* Scrollbar sürüşmə hissəsinə hover ediləndə rəngi */
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(173, 34, 185);
    /* Hover zamanı daha tünd rəng */
}