body {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 10px 40px;
}

.left a {
    text-decoration: none;

}

.center ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.center ul li {
    margin-left: 50px;
    cursor: pointer;
    font-size: 23px;
    font-weight: 500;
}


.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
}

.center ul.active {
    display: flex;

}

.toggle-button.active .bar:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
}

.toggle-button.active .bar:nth-child(2) {
    opacity: 0;
}

.toggle-button.active .bar:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
}



@media (max-width: 768px) {
    .center ul {
        display: none;
        width: 100%;
        margin-top: 70px;
        flex-direction: column;
    }

    .center ul li {
        width: 100%;
        margin-top: 8px;
        margin-left: 0;
        font-size: 23px;
        font-weight: 500;
    }

    .toggle-button {
        display: flex;
    }

}